I do a bunch of [personal and work-related writing](/ideas/?show=Essays), and recently published [The Coding Career Handbook](https://learninpublic.org/) with the best of my nontechnical writing.

You can find all my writing on RSS or [on the /ideas page](/ideas/?show=Essays).